---
import { getCollection } from 'astro:content';
const blogPosts = await getCollection('blog');

const categories = [...new Set(blogPosts.map(post => post.id.split('/')[0]))];
---


{categories.map(category => {
  const posts = blogPosts.filter(p => p.id.startsWith(category));
  return (
    <section>
      <h2 style="margin: 10px 0px 5px 7px;">{category}</h2>
      <div class="previews-container">
        {posts.map(post => (
          <div class="preview" onclick={() => openPost(post.slug)}>
            <div class="imgBg"><img src={post.data.image} alt={post.data.title} /></div>
            <h3>{post.data.title}</h3>
            <p>{post.data.description}</p>
          </div>
        ))}
      </div>
    </section>
  );
})}

